# shape = needle_plate | circle
shape = needle_plate

# Needle/plate parameters
needle.length = 30
needle.half_width = 1
needle.top_offset = 10
needle.plate_thickness = 2
needle.potential = 1.0
plate.potential = 0.0

# Circle parameters
circle.thickness = 5
circle.center_potential = 1.0
circle.outer_potential = 0.0
